<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff Roles</title>
        <link href="/images/css/cdol_bootstrap.css?~[time]" rel="stylesheet" media="screen">
        ~[wc:commonscripts]
        <link href="/images/css/screen.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/print.css?~[time]" rel="stylesheet" media="print">
        <!-- <link href="/images/css/cdol.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/cdol_print.css?~[time]" rel="stylesheet" media="print"> -->
        <style>
            .cust-btn-success {
                background-color: #0066A5;
            }

            .cust-btn-remove {

                background-color: #a94442;
            }

            .cust-btn {
                font-size: 1.05rem;
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        ~[wc:admin_header_frame_css]
        ~[wc:admin_navigation_frame_css]
        <h1>Staff Roles: ~(first_name) ~(last_name) - ~(schoolname) </h1>
        <div data-require-path="components/staff_roles/index" data-module-name="staffRolesMod"
            data-ng-controller="assignRolesCtrl" data-ng-cur-school-id="~(curschoolid)"
            data-ng-school-staff-dcid="~(rn)" data-ng-cloak>
            <div class="feedback-note" data-ng-if="curSchoolId == 0">You must be at a school to assign staff roles</div>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header  text-dark fw-semibold">
                        Add Staff Role:</div>
                    <div class="card-body pb-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="input-group mb-3">
                                    <select id="rolesDropDownList" class="form-select form-select-sm"
                                        aria-label="selectedRole" data-ng-model="selectedRole">
                                        <option value="" selected></option>
                                        <option ng-repeat="role in rolesData | orderBy: 'uidisplayorder'"
                                            value="{{role.code}}">
                                            {{role.displayvalue}}
                                        </option>
                                    </select>
                                    <label class="input-group-text btn " id="btnAddRole"
                                        data-ng-class="{'btn-primary': selectedRole, 'cust-btn': selectedRole,'cust-btn-success': selectedRole, 'btn-secondary': !selectedRole}"
                                        data-ng-click="submitStaffRole()" data-ng-disabled="!selectedRole"
                                        data-ng-style="{'opacity': !selectedRole ? '0.5' : '1', 'pointer-events': !selectedRole ? 'none' : 'auto'}">
                                        +
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <label for="basic-url" class="form-label">~(first_name)'s Staff Roles: </label>
                            <div class="col-2 ">
                                <table class="table table-sm table-striped table-bordered border m-0 mb-3">
                                    <tr data-ng-repeat="staffRole in staffRolesData">
                                        <td>{{staffRole.displayvalue}} </td>
                                        <td class="right"><button
                                                class="btn btn-danger cust-btn cust-btn-remove m-0 p-0 px-2"
                                                type="button" ng-click="removeStaffRole(staffRole.id)"> - </button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        ~[wc:admin_footer_frame_css]
    </body>

</html>