<!DOCTYPE html>
<html>

    <head>

        <title>CDOL Staff Roles</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/cdol/staffroles/scripts/cdol_staff_roles.css?~(f.currenttime)" rel="stylesheet" media="screen">
    </head>

    <body id="cdolRolesAppDiv" ng-controller="cdolRolesAppCtrl as mainController"
        data-require-path="/cdol/staffroles/scripts/cdol_staff_roles.js?~[time]" data-module-name="cdolRolesApp"
        ng-init="getRolesDropDown()" ng-user-id="~(rn)" ng-cur-school-id="~(curschoolid)" ng-cloak>
        ~[wc:admin_header_frame_css]
        <!-- breadcrumb start -->
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_faculty.edit.start_page]</a> &gt;
        <a href="/admin/faculty/search.html" target="_top">~[text:psx.html.admin_faculty.edit.staff]</a> &gt;
        <a href="/admin/faculty/home.html?selectteacher=nosearch"
            target="_top">~[text:psx.html.admin_faculty.edit.select_a_staff_member]</a> &gt;
        CDOL Staff Roles
        <!-- breadcrumb end -->~[wc:admin_navigation_frame_css]
        <span class="account-photo">~[facultytitlephoto]</span>
        <h1>CDOL Staff Roles: ~(first_name) ~(last_name) - ~(schoolabbr) </h1>
        <div class="fluid-form past-picture">
            <div>
                <div>
                    ~[if#distCheck.district.office]
                    <div class="feedback-note">You must be at a school to assign staff roles</div>
                    [else#distCheck]
                    <label>Add Staff Role:</label>
                    <select name="" type="text" value="" ng-model="cdolRole.cdol_role">
                        <option ng-repeat="option in rolesDropDownList | orderBy: 'uidisplayorder'"
                            value="{{option.code}}">
                            {{option.displayvalue}}</option>
                    </select><button id="btnAddRole" type="button" class="custBtn" ng-click="submitStaffRole()"
                        ng-disabled="invalidNew()">+</button>
                </div>
            </div>
        </div>
        <div id="staffRoleGrid" data-pss-grid-widget data-data="roleList" data-filtered-data="roleListFilt"
            data-client-side-pagination="false" data-filter-constraint="no-filters">
            <table class="grid">
                <thead>
                    <tr>
                        <th data-pss-sort-fields="cdol_role|text" class="nowrap ta-Left">
                            ~(first_name)'s
                            Role(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in roleListFilt | orderBy: 'uidisplayorder'">
                        <td data-id="{{role.id}}">{{role.cdol_role}}<button class="custBtn" id="removeBtn" type="button"
                                ng-click="removeStaffRole(role.id)"> - </button></td>
                    </tr>
                    <tr ng-show="roleList.length === 0">
                        <td colspan="2" class="text-muted">~(first_name) has not been assigned any roles</td>
                    </tr>
                </tbody>
            </table>
        </div>
        [/if#distCheck]
    </body>

</html>