<!DOCTYPE html>
<html>

    <head>

        <title>CDOL Staff Information
        </title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">

    </head>

    <body id="cdolRolesAppDiv" ng-controller="cdolRolesAppCtrl as mainController"
        data-require-path="/cdol/staffroles/scripts/cdol_staff_roles.js?~[time]" data-module-name="cdolRolesApp"
        ng-init="getExistingRoles()" ng-cur-user-id="~[x:userid]" ng-cur-school-id="~(curschoolid)" ng-cloak>
        ~[wc:admin_header_frame_css]
        <!-- breadcrumb start -->
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_faculty.edit.start_page]</a> &gt;
        <a href="/admin/faculty/search.html" target="_top">~[text:psx.html.admin_faculty.edit.staff]</a> &gt;
        <a href="/admin/faculty/home.html?selectteacher=nosearch"
            target="_top">~[text:psx.html.admin_faculty.edit.select_a_staff_member]</a> &gt;
        CDOL Staff Information: ~(lastfirst) - ~(schoolname)
        <!-- breadcrumb end -->~[wc:admin_navigation_frame_css]

        <span class="account-photo">~[facultytitlephoto]</span>
        <h1>CDOL Staff Roles: ~(lastfirst) - ~(schoolname)</h1>

        <div class="fluid-form">
            <div>
                <div>
                    <label>Type of Staff Change</label>
                    <select name="" type="text" value="" ng-model="newStaff.name_change">
                        <option></option>
                        <option value="Powerschool Admin">Powerschool Admin</option>
                        <option value="Tech Contact">Tech Contact</option>
                        <option value="Principal">Principal</option>
                        <option value="CAO">CAO</option>
                        <option value="Counselor">Counselor</option>

                    </select>
                </div><button type="button">Add Role</button>
            </div>
        </div>
        <div id="staffRoleGrid" data-pss-grid-widget data-data="roleList" data-filtered-data="roleListFilt"
            data-client-side-pagination="false" data-filter-constraint="no-filters">
            <table class="grid">
                <thead>
                    <tr>
                        <th data-pss-sort-fields="last_name|text" class="nowrap">CDOL Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in roleListFilt">
                        <td>{{role.cdolrole}}</td>
                        <td><button type="button">Remove Role</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </body>

</html>