<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="25.4.0.19" name="CDOL Staff Roles" description="CDOL Custom Staff Roles" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Adrian Carlson">
        <contact email="adrian-carlson@cdolinc.net"/>
    </publisher>
</plugin>