<!DOCTYPE html>
<html>

    <head>
        <title>Staff Roles Build Email List</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <style>
            [ng\:cloak],
            [ng-cloak],
            [data-ng-cloak],
            [x-ng-cloak],
            .ng-cloak,
            .x-ng-cloak {
                display: none !important;
            }
        </style>
        <link href="/cdol/staffroles/scripts/cdol_staff_roles.css?~(f.currenttime)" rel="stylesheet" media="screen">
    </head>

    <body id="cdolRolesAppDiv" ng-controller="cdolRolesAppCtrl as mainController"
        data-require-path="/cdol/staffroles/scripts/cdol_staff_roles.js?~(f.currenttime)"
        data-module-name="cdolRolesApp" ng-init="getExistingRoles()" ng-cur-school-id="~(curschoolid)" ng-cloak>
        ~[wc:admin_header_css]
        <div id="breadcrumbs">
            <!-- breadcrumb start -->
            <a href="/admin/home.html" target="_top">~[text:psx.html.admin_district.home.start_page]</a>&nbsp;
            ~[if.district.office]&gt;
            <a href="/admin/district/home.html" target="_top">&nbsp;~[text:psx.html.admin_district.home.district_setup1]
                &nbsp;</a>
            [else]&gt;
            <a href="/admin/schoolsetup/home.html"
                target="_top">&nbsp;~[text:psx.html.admin_schoolsetup.home.school_setup1]&nbsp;</a>[/if]
            &gt; Staff Roles Build Email List
        </div>
        ~[wc:admin_navigation_css]
        <h1>Staff Roles Build Email List</h1>
        <div class="box-round">
            <h4>Select which roles to load:
                <span class="dioSwitchLabel" ng-show="cdolRole.schoolid!=0">
                    <label class="switch" data-tooltip="This will clear all currently selected emails">
                        <input type="checkbox" ng-model="dioCheck" ng-click="getExistingRoles()" />
                        <span class="slider round"></span>
                    </label>
                    Show All Diocesan Staff
                </span>
            </h4>
            <p><span class="colFilterChecks" ng-repeat="roleTitle in rolesDropDownList | orderBy: 'uidisplayorder'"
                    class="center"><input ng-model="columnChecks[$index].val" type="checkbox"
                        ng-click="updateCheckCount()"
                        ng-disabled="columnChecks[$index].val != false && countofColumnChecks == 1" />{{roleTitle.displayvalue}}</span>
            </p>
        </div>
        <div class="box-round" ng-cloak class="ng-cloak">
            <table class="grid">
                <thead>
                    <tr>
                        <th rowspan="2" ng-if="cdolRole.schoolid==0 || dioCheck === true">School</th>
                        <th rowspan="2">Staff Name</th>
                        <th ng-show="columnChecks[{{$index}}].val === true"
                            ng-repeat="roleTitle in rolesDropDownList | orderBy: 'uidisplayorder'" class="nowrap">
                            {{roleTitle.displayvalue}} Email</th>
                    </tr>
                    <tr>
                        <th ng-show="columnChecks[{{$index}}].val === true"
                            ng-repeat="roleTitle in rolesDropDownList | orderBy: 'uidisplayorder'"
                            class="center nowrap">
                            <input type="checkbox" ng-click="checkAll(roleTitle.code)" title="Select/Deselect All"
                                id="{{roleTitle.code}}SelectedAll" />Select/Deselect All
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in roleList | orderBy: ['school_abbr','lastfirst']">
                        <td ng-if="cdolRole.schoolid==0 || dioCheck === true" title="{{role.school_name}}">
                            {{role.school_abbr}}</td>
                        <td class="nowrap">{{role.lastfirst}}</td>
                        <td ng-show="columnChecks[{{$index}}].val === true"
                            ng-repeat="roleTitle in rolesDropDownList | orderBy: 'uidisplayorder'"
                            class="mailTD nowrap"><input type="checkbox" ng-if="roleTitle.displayvalue==role.cdol_role"
                                class="{{roleTitle.code}}CheckBox {{role.usersDCID}}CheckBox"
                                id="{{role.usersDCID}}{{roleTitle.code}}CheckBox"
                                ng-click="checkIndividual(role.usersDCID, roleTitle.code, role.school_abbr)" /><a
                                ng-show="roleTitle.displayvalue==role.cdol_role" ng-href="mailto:{{role.email_addr}}"
                                ng-bind="role.email_addr"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="copyDivDialog" class="box-round">
            <div class="feedback-info">
                <div>Once you have selected the addresses, click the "Copy" button, and paste into the To: field or BCC
                    (blind carbon copy) field of a new email. The BCC field will prevent users
                    from seeing each others' email addresses, if that is a concern.</div>
            </div>
            <div class="wrapper">
                <textarea rows="5" cols="500" id="copyEmailBox" ng-bind="displayEmails"></textarea>
                <div class="flex-parent jc-center">
                    <button class="cpyBtn" type="button" ng-click="copyEmails()"
                        ng-disabled="!displayEmails">Copy</button>
                </div>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>