<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff Email List</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <style>
            [ng\:cloak],
            [ng-cloak],
            [data-ng-cloak],
            [x-ng-cloak],
            .ng-cloak,
            .x-ng-cloak {
                display: none !important;
            }
        </style>
        <link href="/cdol/staffroles/scripts/cdol_staff_roles.css?~(f.currenttime)" rel="stylesheet" media="screen">
    </head>

    <body>
        ~[wc:admin_header_css]
        ~[wc:admin_navigation_css]
        <h1>📨 Staff Email List</h1>
        <div class="box-round" data-require-path="components/staff_roles/index" data-module-name="staffRolesMod"
            data-ng-controller="emailListCtrl" ng-cur-school-id="~(curschoolid)" ng-cloak>
            <div id="emailListrGrid" data-pss-grid-widget data-data="emailListData"
                data-filtered-data="filteredEmailListData" data-item-type-text="Staff" data-no-grid-box="true">
                Roles: {{rolesData}}
                <table class="grid">
                    <thead>
                        <tr>
                            <th class="left" data-pss-sort-fields="lastfirst">Staff Name</th>
                            <th data-ng-if="showColumns.School" class="center" data-pss-sort-fields="school_name">School
                            </th>
                            <th>Staff Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="staff in filteredEmailListData">
                            <td>{{staff.lastfirst}}</td>
                            <td data-ng-if="showColumns.School" class="center">{{staff.school_name}}</td>
                            <td>{{staff.staff_roles}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>